{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} - Details {% endblock %}

{% block content %}

    <div class="row input-field">
        <h3>Details:</h3>
        <br/>
        <p>Card number: {{object.number}}</p>
        <p>Date: {% now "jS F Y H:i" %}</p>
        <p>Balance: {{object.balance}}</p>
    </div>

    <div class="row control-row">
        <a href="{% url 'logout' %}"><button class="btn btn-info" value="">Exit</button></a>
        <a href="{% url 'cards:menu' %}"><button class="btn btn-info" value="">Menu</button></a>
        <a href="#"><button class="btn btn-info" disabled value="">Cash</button></a>
    </div>

{% endblock %}

{% block script %}
{% endblock %}