{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} - Operations {% endblock %}

{% block content %}

    <div class="row input-field">
        <h3>Operations:</h3>
        <br/>
    </div>

    <div class="row control-row">
        <a href="{% url 'logout' %}"><button class="btn btn-info" value="">Exit</button></a>
        <a href="{% url 'cards:detail' %}"><button class="btn btn-info" value="">Balance</button></a>
        <a href="{% url 'cards:withdrawal' %}"><button class="btn btn-info" value="">Cash</button></a>
    </div>

{% endblock %}

{% block script %}
{% endblock %}