{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} - Input Card Number{% endblock %}

{% block content %}

    <div class="row input-field">
        <p>Input card PASSWORD:</p>
        <div ><input id="card-pass-input" class="align-center" type="text" /></div>
        <br/>
    </div>

    <div class="row control-row">
        <a href="{% url 'cards:num_validator' %}"><button class="btn btn-info" value="C"><<</button></a>
        <button class="btn invisible" value=""></button>
        <button class="btn invisible" value=""></button>
    </div>

    {% include 'keyboard.html' with action='/card/pass/'%}
{% endblock %}

{% block script %}
    <script src="{% static 'js/md5.min.js' %}"></script>
    <script src="{% static 'js/card_pass_validator.js' %}"></script>
{% endblock %}