body {
  background:#FCFCFC;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#card-num-input, #card-pass-input {
  font-size: 25px;
}

button {
  width: 62px;
  margin: 2px;
}

.confirm-form{
    display: inline;
}

.container-alert-flash {
	position: absolute;
    top: 10px;
    z-index: 50000;
    width: 100%;
    right: 0%;
    margin: 0px;
    display:none;
}