body {
  background:#FCFCFC;
}

#header {
    text-align: center;
}

#box {
    text-align: center;
    width: 400px;
    display: block;
    border-radius:8px;
    border: 1px solid;
    bordel-color: #abc6c2;
    padding:8px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    background:#A9A9A9;
}

#display {
    background: #000080;
    padding: 8px;
    margin:16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius:8px;
    color: yellow;
    height: 140px;
}

#card-number {
  font-size: 25px;
}

#result, #previous {
  text-align: center;
  
}

#keyboard {
  display: inline-block;  
  text-align: center;
  margin-bottom:8px;
}

.row {
  margin-top: 4px;
}

.row-ctrl {
    position: relative;
    top: -10px;
}

button {
  width: 62px;
  margin: 2px;
}

.row-ctrl button{
    height: 29px;
    margin-bottom: 5px;
}

#hint-row {
    display: block;
    padding-top: 20px;
}

#left-hint {
    text-align: left;
    display: table-cell;
    width: 120px;
}

#mid-hint {
    display: table-cell;
    width: 120px;
    text-align: center;
}

#right-hint {
display: table-cell;
width: 120px;
text-align: right;
}

.confirm-form{
    display: inline;
}