body {
  background:#FCFCFC;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#card-num-input {
  font-size: 25px;
}

button {
  width: 62px;
  margin: 2px;
}

.confirm-form{
    display: inline;
}